# Create an app at https://www.reddit.com/prefs/apps (type: "script" for personal use)
REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=
REDDIT_USER_AGENT=vis-final-boston-housing/0.1 by your_reddit_username
REDDIT_USERNAME=
REDDIT_PASSWORD=
